---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import ProblemSection from '../components/ProblemSection.astro';
import QuestionSection from '../components/QuestionSection.astro';
import FeaturesSection from '../components/FeaturesSection.astro';
import BlueprintSection from '../components/BlueprintSection.astro';
import ScenariosSection from '../components/ScenariosSection.astro';
import TechSpecsSection from '../components/TechSpecsSection.astro';
import CtaSection from '../components/CtaSection.astro';
---

<Layout>
  <main>
    <HeroSection />
    <ProblemSection />
    <QuestionSection />
    <FeaturesSection />
    <BlueprintSection />
    <ScenariosSection />
    <TechSpecsSection />
    <CtaSection />
  </main>
</Layout>
